@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

*{
    margin: 0;
}
.app{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #EBEBEB;
    min-height: 100vh;
    
}

.app .title{
    padding: 20px 0;
    color: #0B3142;
}

.app form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;

}

form div{
    margin-right: 50px;
}

form Button{
    background-color: #0F5257;
}

.app .text{
    color: #5D2E46
}

.app ul{
    padding-left: 0;
}

